<div class="main">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of Categories">
                    <th scope="row">{{category.id}}</th>
                    <td>{{category.name}}</td>
                    <td>
                        <button type="button" class="btn btn-success">
                            Update
                        </button>
                    </td>
                    <td><button class="btn btn-danger" (click)="deletCategory(category.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>